h1,h2,h3,h4,h5,h6 {
    font-family: 'Zilla Slab', serif;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 150;
}

nav {
    font-family: 'Zilla Slab', serif;
}

table {
    font-family: monospace;
}

 .table>tbody>tr>td,
 .table>tbody>tr>th {
   border-top: none;
 }

 .notes {
     font-size: 9px;
 }



body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 80px; }
}
@media screen and (max-width: 380px) {
    body { padding-top: 250px; }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 0;
}



.well img{
display: inline-block;
}
